a.out
*.sln
*.sdf
*.vcxproj.filters
*.ilk
*.opensdf
*.idb
*.pdb
*.tlog
*.obj
*.log
*.suo
*.vcxproj
*.lastbuildstate
*.exe
*.dll
*.lib
*.res
*.exp
*.cache
*.res
*.rc
*.vcxproj.user
*.py
*.yaml
*.sh
*.sed
*.ini
*.m
*.pch
*.pbxproj
*.mk
*.hpp

